<%- include('partials/header') %>
<section><%- include('menuLink') %></section>
<section><%- include('intro') %></section>
<section id="about-link"><%- include("about") %></section>
<section><%- include("skills") %></section>
<div class="header-br container"></div>
<section><%- include("contact") %></section>
<%- include('partials/footer') %>
<section class="social-img">
  <div class="navbar-img">
    <img src="img/social-media-icons/fb.svg" alt="" class="img1" />
    <img src="img/social-media-icons/ig.svg" alt="" class="img2" />
    <img src="img/social-media-icons/linkedin.svg" alt="" class="img3" />
    <img src="img/social-media-icons/telegram.svg" alt="" class="img4" />
  </div>
</section>
